/* flag2 is 's0urc3' */
body {
    background: hsl(0, 30%, 70%);
    font-family: 'Kanit', sans-serif;
}

img {
    width: 50vh;
    height: 40vh;
    border-radius: 50%;
}

.center {
    display: block;
    margin: auto;
}

input.center, button.center {
    margin-bottom: 4px;
}

.form {
    margin: 10px;
}

#messageBox {
    margin: auto;
    text-align: center;
    font-size: 40px;
}

#forget {
    color: blue;
    margin: auto;
    text-align: center;
    font-size: 14px;
}

#forget:hover {
    text-decoration: underline;
} 